<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.1.66" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.5" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Hosting" version="4.2.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json.Bson" version="1.0.3" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="RestSharp" version="112.1.0" targetFramework="net48" />
  <package id="Serilog" version="4.3.0" targetFramework="net48" />
  <package id="Serilog.Enrichers.Environment" version="3.0.1" targetFramework="net48" />
  <package id="Serilog.Sinks.Console" version="6.0.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="7.0.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File.Archive" version="1.0.6" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.5" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Threading.Channels" version="9.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
</packages>